.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# Ignore all files in input/ and output/
input/*
output/*
rsconnet/*

# But keep the folders themselves
!input/.gitkeep
!output/.gitkeep
!rsconnect/.gitkeep

